zz_exe/
lekcje/txt/
.vscode/
PA2020/1/1b.in
lekcje/pliki_tekstowe
lekcje/pliki tekstowe 2
PA2020/4/4c2.in
PA2020/4/4c.in
PA2020/2/2c.in
PA2020/2/2b.in
lekcje/plecak/dynamiczny/decyzyjny.exe
lekcje/plecak/dynamiczny/ogolny.exe
lekcje/plecak/zachlanny/decyzyjny.exe
lekcje/plecak/zachlanny/ogolny.exe
in.in
tests/
.gitignore