zz_exe/
tests/
out.out
debug.in
in.in
in2.in
in3.in
ccc/input
rustlings/
**/target/
*.aux
*.bit
*.blg
*.bbl
*.lof
*.log
*.lot
*.glo
*.glx
*.gxg
*.gxs
*.idx
*.ilg
*.ind
*.out
*.url
*.svn
*.toc
*.ods#

